{
  "openapi": "3.1.0",
  "info": {
    "title": "Bitcoin Research Kit Series API",
    "version": "v0.11.2",
    "description": "JSON-only BRK series endpoints selected for the Agent 21 ChatGPT Action. Aligned with the upstream BRK v0.11.2 OpenAPI contract.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://bitview.space",
      "description": "BRK public API"
    }
  ],
  "security": [],
  "paths": {
    "/api/series/search": {
      "get": {
        "operationId": "searchSeries",
        "summary": "Search BRK series names",
        "description": "Fuzzy-search the BRK catalog by a short concept term before requesting an unfamiliar series.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Short series name or concept to search for.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of matches to return.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching canonical series names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ApiError" },
          "500": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/indexes": {
      "get": {
        "operationId": "getSeriesIndexes",
        "summary": "List BRK indexes and aliases",
        "description": "Return every supported aggregation index and the aliases accepted in series requests.",
        "responses": {
          "200": {
            "description": "Supported indexes and aliases.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IndexInfo" }
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/{series}": {
      "get": {
        "operationId": "getSeriesInfo",
        "summary": "Get BRK series metadata",
        "description": "Confirm that a canonical series exists, then inspect its supported indexes and value type before fetching data.",
        "parameters": [
          {
            "name": "series",
            "in": "path",
            "required": true,
            "description": "Canonical BRK series name. Search first if the exact name is unknown.",
            "schema": { "type": "string", "minLength": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Series metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeriesInfo" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ApiError" },
          "500": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/{series}/{index}": {
      "get": {
        "operationId": "getSeriesData",
        "summary": "Get wrapped BRK series data",
        "description": "Fetch one series as JSON with version, index, inclusive start, exclusive end, response timestamp, and data values.",
        "parameters": [
          {
            "name": "series",
            "in": "path",
            "required": true,
            "description": "Canonical BRK series name. Search first if the exact name is unknown.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "Aggregation index or accepted alias, such as day, day1, week, month, year1, or height.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Inclusive start as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-30", "2026-03-01", "2026-03-01T00:00:00Z"]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Exclusive end as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-1", "2026-04-01", "2026-04-01T00:00:00Z"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum values to return. BRK ignores this parameter when end is set.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Wrapped series data.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeriesData" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/{series}/{index}/data": {
      "get": {
        "operationId": "getSeriesDataRaw",
        "summary": "Get raw BRK series values",
        "description": "Fetch only the value array for one series. Use the wrapped endpoint when range metadata is needed for alignment.",
        "parameters": [
          {
            "name": "series",
            "in": "path",
            "required": true,
            "description": "Canonical BRK series name. Search first if the exact name is unknown.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "Aggregation index or accepted alias, such as day, day1, week, month, year1, or height.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Inclusive start as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-30", "2026-03-01", "2026-03-01T00:00:00Z"]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Exclusive end as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-1", "2026-04-01", "2026-04-01T00:00:00Z"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum values to return. BRK ignores this parameter when end is set.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Unwrapped series values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SeriesValue" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/{series}/{index}/latest": {
      "get": {
        "operationId": "getSeriesLatest",
        "summary": "Get the latest BRK series value",
        "description": "Return the single most recent unwrapped value for one series and index.",
        "parameters": [
          {
            "name": "series",
            "in": "path",
            "required": true,
            "description": "Canonical BRK series name. Search first if the exact name is unknown.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "Aggregation index or accepted alias, such as day, day1, week, month, year1, or height.",
            "schema": { "type": "string", "minLength": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest unwrapped series value.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeriesValue" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/api/series/bulk": {
      "get": {
        "operationId": "getSeriesBulk",
        "summary": "Get multiple aligned BRK series",
        "description": "Fetch several canonical series for one index and range. Include date or timestamp when the values will be joined as a time series.",
        "parameters": [
          {
            "name": "series",
            "in": "query",
            "required": true,
            "description": "Comma-separated canonical series names, such as date,price_close,market_cap.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "index",
            "in": "query",
            "required": true,
            "description": "Aggregation index or accepted alias, such as day, day1, week, month, year1, or height.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Inclusive start as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-30", "2026-03-01", "2026-03-01T00:00:00Z"]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Exclusive end as an integer index, negative offset from the end, YYYY-MM-DD date, or ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "examples": ["-1", "2026-04-01", "2026-04-01T00:00:00Z"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum values to return. BRK ignores this parameter when end is set.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Wrapped data objects in requested series order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SeriesData" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ApiError" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "ApiError": {
        "description": "BRK error response.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorBody" }
          }
        }
      }
    },
    "schemas": {
      "IndexInfo": {
        "type": "object",
        "description": "Canonical index and all accepted query aliases.",
        "properties": {
          "index": { "type": "string" },
          "aliases": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["index", "aliases"]
      },
      "SeriesInfo": {
        "type": "object",
        "description": "Supported indexes and value type for a series.",
        "properties": {
          "indexes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "type": { "type": "string" }
        },
        "required": ["indexes", "type"]
      },
      "SeriesData": {
        "type": "object",
        "description": "Series values with range and provenance metadata.",
        "properties": {
          "version": { "type": "integer", "minimum": 0 },
          "index": { "type": "string" },
          "type": { "type": "string" },
          "start": { "type": "integer", "minimum": 0 },
          "end": { "type": "integer", "minimum": 0 },
          "stamp": { "type": "string", "format": "date-time" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SeriesValue" }
          }
        },
        "required": ["version", "index", "start", "end", "stamp", "data"]
      },
      "SeriesValue": {
        "description": "A scalar or compound BRK series value.",
        "anyOf": [
          { "type": "number" },
          { "type": "string" },
          { "type": "boolean" },
          {
            "type": "array",
            "items": {
              "anyOf": [
                { "type": "number" },
                { "type": "string" },
                { "type": "boolean" },
                { "type": "null" }
              ]
            }
          },
          { "type": "object", "properties": {}, "additionalProperties": true },
          { "type": "null" }
        ]
      },
      "ErrorBody": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "code": { "type": "string" },
              "message": { "type": "string" },
              "doc_url": { "type": "string" }
            },
            "required": ["type", "code", "message", "doc_url"]
          }
        },
        "required": ["error"]
      }
    }
  }
}
